body {
  min-width: 500px;
  background-color: #010165;
  padding: 0;
  margin: 0;
  font-family: "Work Sans", Arial, sans-serif;
}

.header {
  background-color: #00ffff;
  text-align: center;
}

.title-row {
  margin-top: 42px;
  margin-bottom: 21px;
  text-align: center;
}

.instructions-title {
  display: inline;
  font-size: 18px;
  color: #00ffff;
  font-family: "Work Sans";
}

.instructions-row {
  margin: 0 auto;
  width: 400px;
}

.instructions-number {
  padding-right: 25px;
  font-size: 35px;
  color: #00ffff;
}

.instructions-text {
  padding: 10px;
  font-size: 14px;
  color: #ffffff;
}

.door-row {
  text-align: center;
}

.door-frame {
  cursor: pointer;
  padding: 10px;
}

.start-row {
  margin: auto;
  width: 120px;
  background-color: #eb6536;
  padding: 18px;
  font-size: 18px;
  text-align: center;
  color: #010165;
  margin-top: 21px;
  cursor: pointer;
}

.score-row {
  text-align: center;
  width: 100%;
}

.score-text {
  margin-right: 17px;
  margin-top: 10px;
  display: inline-block;
  font-size: 13px;
  letter-spacing: 1.1px;
  color: #ffffff;
}

.score-box {
  display: inline-block;
  padding: 8px;
  margin: 15px;
  margin-right: 29px;
  width: 59px;
  background-color: #00ffff;
  font-size: 45px;
}
